body{
    background-color: #eeeeee;
    padding-top: 25px;
}

.header{
    font-family: arial;
    overflow: hidden;
}

.plain{
    color:#FFFFFF;
    margin-top: -25px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    background-color: #6BA5B3;
}
.choise{
    color:#6BA5B3;
    margin-top: -25px;
    padding-top: 25px;
    padding-bottom: 8px;
    padding-left: 25px;
    background-color: #FFFFFF;
}

sidebar{
    height: 25%;
}
form{
    background: #ffffff;
}
.form-container{
    margin-top: 120px;
    margin-left: 25%;
    width: 50%;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0px 0px 10px 0px;
}
.form-group label{
    color: #999999;
}

.labels{
    padding-top: 15px;
}

.button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
    
}

.Submit {
  background-color: #E67225; 
  padding: 8px 64px;
  color: #FFFFFF; 
  border: 2px solid #E67225;
}

.Submit:hover {
  background-color: #F87111;
  color: #FFFFFF;
  border: 2px solid #F87111;
}

/*profile*/
.profile{
    padding: 10px 20px;
}

.Save {
  background-color: #FF8C03; 
  padding: 6px 10px;
  color: #FFFFFF; 
  border: 2px solid #FF8C03;
    margin-left: 80%;
    margin-top: 20%;
}

.Save:hover {
  background-color: #F87111;
  color: #FFFFFF;
  border: 2px solid #F87111;
    
}



/* Responsive layout - makes the layout fit with fill */
    @media (max-width:1088px) {
  .form-container {
    margin-left: 33%;
    padding: 20px;
    width: 35%;
  }
    
    @media (min-width: 320px) and (max-width: 775px) {
  .form-container {
    margin-left: .5%;
    width: 100%;
    padding: 20px;
  }