body{
    background-color: #eeeeee;
    padding-top: 25px;
}

.header{
    font-family: arial;
    color:#FFFFFF;
    margin-top: -25px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    overflow: hidden;
    background-color: #6BA5B3;
}

form{
    background: #ffffff;
}
.form-container{
    
    margin-left: 25%;
    width: 50%;
    margin-top: 120px;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0px 0px 10px 0px;
}
.form-group label{
    color: #999999;
}
.button {
  background-color: #E67225;
  border-radius: 4px;
  color: white;
  padding: 8px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
    
}

.Submit {
  background-color: #E67225; 
  color: #FFFFFF; 
  border: 2px solid #E67225;
}

.Submit:hover {
  background-color: #F87111;
  color: #FFFFFF;
}


/* Responsive layout - makes the layout fit with fill */
@media (min-width: 1088px) {
  .form-container {
      
      padding: 20px;
    margin-left: 33%;
      width: 35%;
    }
  }
    
    @media (min-width: 320px) and (max-width: 775px) {
  .form-container {
      width: 100%;
      padding: 20px;
    margin-left: .5%;
        }
  }

/* profile */
.profile {
    padding: 10px 20px;
}