body{
    background-color: #eeeeee;
    padding-top: 25px;
}

.header{
    font-family: arial;
    color:#FFFFFF;
    margin-top: -25px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    overflow: :hidden;
    background-color: #6BA5B3;
}

form{
    background: #ffffff;
}
.form-container{
    margin-top: 120px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 10px 0px;
}
.form-group label{
    color: #999999;
}
.submit {background-color: #E67225;}

/* Responsive layout - makes the layout fit with fill */


/* @media (max-width:950px) {
  .form-container {
    margin-left: 190px;
    margin-right: 190px;
    border-radius: 10px;
    padding: 30px;
  }
    
    @media (max-width:850px) {
  .form-container {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    padding: 30px;
  }*/